@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

body {
  font-family: "Caveat Brush", cursive;
  background-color: tomato;
}

.title {
  text-align: center;
}

th {
  text-align: left;
  font-size: x-large;
}

.search-bar {
  padding: 0.5rem;
  margin-bottom: 2rem;
  outline: none;
  font-size: 1rem;
  background-color: rgba(233, 233, 233, 0.7);
  border: none;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}

.btn {
  padding: 0.3rem 1.3rem;
  background-color: #4242dd;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 0.3rem 1.3rem;
  border-radius: 4px;
  text-transform: uppercase;
}

button:hover {
  background-color: #212170;
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.infos {
  display: inline-block;
  font-family: "IBM Plex Mono", monospace;
  margin-top: 5rem;
  margin-bottom: auto;
  background-color: #3594cb;
  padding: 0.5rem;
  border-radius: 10px;
}

@media only screen and (max-width: 500px) {
  .container {
    display: grid;
    grid-template-columns: auto;
  }
  .infos {
    margin: 1rem auto;
  }

  .search-bar-container {
    text-align: center;
  }
}
